#tableFilterPage button {
  background: url(/src/assets/Caminho\ 147.png) no-repeat;
  width: 80px;
  height: 21px;
  border: none;
  border-bottom: 1px solid black;
  cursor: pointer;
}

#table-names-background {
  background: #ffc501;
  width: 100%;
}

#table-names {
  display: flex;
  justify-content: space-around;
  list-style: none;
  border-radius: 5px 5px 1px 1px;
}

#tableFilterPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#bottomTable{
    margin-bottom: 15rem;
}

